<%= form_for [@todo_list, @todo_item] do |f| %>
	<% if @todo_item.errors.any? %>
		<ul>
			<% @todo_item.errors.full_messages.each do |message|%>
				<li><%=message%></li>
			<%end%>
		</ul>
	<%end%>
	<%= f.label :content %>
	<%= f.text_field :content%>
	<%= f.submit %>
<%end%>