<!DOCTYPE html>
<html>
<head>
  <title>Garagetodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
	<div class= 'page-header'>
		<h1>SIMPLE TODO LISTS</h1>
		<h3>FROM RUBY GARAGE</h3>
		<% if user_signed_in? %>
			<%= link_to 'Logout', logout_path, method: :delete %>
		<%end%>
	</div><!-- end header -->
	<div class='jumbotron'>
		<main>
			<% flash.each do |key, value| %>
				<div class='alert alert-<%= key %>'>
					<%= value %>
				</div>
			<% end %>
			
			<%= yield %>
		</main>
	</div><!-- end jumbotron -->
	<footer>
		&copy; Ruby Garage
	</footer>
</div><!-- end container -->
</body>
</html>
